@model Graphease.Models.ProfitAnalysisViewModel

<div class="container my-5">

    <h2 class="custom-header text-center mb-4">Ürün Adına Göre Satış Oranları</h2>

    @if (Model != null && Model.SalesData.Any())
    {
        <div class="table-responsive">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Satış Oranı (%)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.SalesData)
                    {
                        <tr>
                            <td>@data.Key</td>
                            <td>@data.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-center">Veri bulunamadı.</p>
    }

    <div class="chart-container mt-5">
        <canvas id="salesPercentageChartByProduct"></canvas>
    </div>

    <style>
        .chart-container {
            max-width: 500px;
            margin: 0 auto;
        }

        #profitPercentageChart {
            height: 300px;
        }
        .container {
            background-color: #f7f7f7; 
        }

        .custom-header {
            color: #34a852;
        }

        .custom-table {
            width: 70%;
            margin: 0 auto;
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

            .custom-table th, .custom-table td {
                border: 1px solid #d4d4d4;
                padding: 10px 15px;
                text-align: left;
            }

            .custom-table th {
                background-color: #28a745; 
                color: white;
                border-color: white;
            }

            .custom-table tbody tr {
                transition: background-color 0.3s ease;
            }

                .custom-table tbody tr:hover {
                    background-color: #e2e6ea; 
                }

    </style>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            var ctx = document.getElementById('salesPercentageChartByProduct').getContext('2d');

            var data = {
                labels: @Json.Serialize(Model.SalesData.Select(m => m.Key).ToList()),
                datasets: [{
                    label: 'Satış Yüzdeliği',
                    data: @Json.Serialize(Model.SalesData.Select(m => m.Value).ToList()),
                    backgroundColor: [
                        'rgba(100, 159, 64, 0.5)',
                        'rgba(255, 205, 210, 0.5)',
                        'rgba(200, 55, 103, 0.5)',
                        'rgba(40, 60, 220, 0.5)',
                        'rgba(170, 113, 70, 0.5)',
                        'rgba(90, 255, 100, 0.5)'
                    ],
                    borderColor: [
                        'rgba(100, 159, 64, 1)',
                        'rgba(255, 205, 210, 1)',
                        'rgba(200, 55, 103, 1)',
                        'rgba(40, 60, 220, 1)',
                        'rgba(170, 113, 70, 1)',
                        'rgba(90, 255, 100, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            var options = {
                animation: {
                    duration: 1000,
                    easing: 'easeOutBounce'
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var dataset = chart.datasets[tooltipItem.datasetIndex];
                            var value = dataset.data[tooltipItem.index];
                            var label = chart.labels[tooltipItem.index];
                            return label + ': ' + value + ' adet';
                        }
                    }
                }
            };

            var salesPercentageChartByProduct = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
            });
        </script>
    }
</div>
